<?xml version="1.0" encoding="UTF-8"?>
<Server>
	<Port name="HTTP/1.1" protocol="HTTP">8375</Port>
<PathMapping local="/test" module="test" remote="C:\Users\Dharani\eclipse-workspace\.metadata\.plugins\org.eclipse.wst.server.core\tmp2\htdocs\test"/><PathMapping local="/Product_Admin" module="Product_Admin" remote="C:\Users\Dharani\eclipse-workspace\.metadata\.plugins\org.eclipse.wst.server.core\tmp2\htdocs\Product_Admin"/><PathMapping local="/MultiPageWebsiteSample" module="MultiPageWebsiteSample" remote="C:\Users\Dharani\Documents\GitHub\WebsiteSamples\.metadata\.plugins\org.eclipse.wst.server.core\tmp0\htdocs\MultiPageWebsiteSample"/></Server>