
body{
	background-image: linear-gradient(to bottom right,#00ff04,#56a5ff);
	height: 100%;
	color:#080451;
	font-size: 18px;
}
.loginContainer{
	margin-top:50px;
	border:1px solid #f210de;
	border-radius:12px;
	display: inline-block;
	padding:10px;
	box-shadow: 10px 10px #ea81e1;
}
.loginContainer div{
	margin-top: 10px;
	margin-bottom: 10px;
}
input {
	border-radius: 12px;
	width: 100%;	
	color:#080451;
	font-size: 15px;
}
select{
	width:100%;
	border-radius: 12px;
	color:#080451;
	font-size: 15px;
}
button{
	background-color: #1666f9;
	height:40px;
	border:1px solid #00ff33;
	border-radius: 12px;
	margin-top: 10px;
	/* background-image: linear-gradient(to bottom right,#1dff19,#1666f9); */
}
button:disabled{
	background-color: gray;
	border:1px solid black;
}
#loginButton{
	background-color: purple;
	height:40px;
	border:1px solid pink;
	color:white;
}
.search{
	border:1px solid #0a00db;
	border-radius:12px;
	margin-bottom: 20px;
}
.search div{
	margin:10px 0;
}

.rightText{
	text-align: right;
	padding: 0;
}
.leftText{
	text-align: left;
	padding:0px;
}
table,th{
	text-align: center;
}
tr,td,th{
	border: 1px solid #0a00db;
}
td{
	padding:20px 30px;	
}
td div{
	font-size: 20px;
}
